@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.header{
    //Alineamos el navbar y el logo
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;

    //Media query para el header
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo{
        width: 30rem;
        margin-bottom: v.$distance;

        //Media query para el logo
        @include m.tablet {
            margin-bottom: 0;
        }
    }

    &__navbar{
        width: 100%;
        
        //Media query para el header__navbar
        @include m.tablet {
            width: auto;
        }
    }
}