@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;


.navbar{
    //Alineamos el navbar
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 0;

    //media query para el navbar
    @include m.tablet {
        flex-direction: row;
    }

    &__list{
        width: 100%;
        
        //media query para los li
        @include m.tablet {
            width: auto;
        }

        &__link{
            color: v.$black;
            font-size: 2rem;
            font-weight: 700;
            display: block;

            &--mod{
                @include m.btn(v.$primaryColor, v.$white);
            }
        }
    }
}