@use '../utilities/vars' as v;
@use '../utilities/mixins' as m;

.form{
    &__grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: v.$distance;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: dense;
            
        }
    }

    &__img{
        width: 30rem;
        
        @include m.tablet {
            width: auto;
            grid-column: 2/3;
        }
    }

    &__content{
        background-color: v.$primaryColor;
        padding: v.$distance;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__title{
        color: v.$white;
        text-align: center;
    }

    &__item{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__label{
        text-transform: uppercase;
        color: v.$white;
        margin: 1rem 0;
    }

    &__input{
        padding: 1.5rem;
        border: none;
        width: 100%;
    }

    &__submit{
        margin-top: 2rem;
        @include m.btn(v.$secondaryColor, v.$white);

        @include m.tablet {
            width: 100%;
        }
    }
}

.functioning{
    margin-top: v.$distance;

    &__wave{
        margin-bottom: -1px;
    }

    &__content{
        background-color: v.$primaryColor;
    }

    &__title{
        color: v.$white;
        text-align: center;
        &--steps{
            display: block;
            font-size: 2rem;
        }
    }

    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
        }
    }

    &__item{
        transition-property: transform, rotate;
        transition-duration: .3s;
        transition-timing-function: ease;
        
        &:hover{
            transform: scale(1.1);
            rotate: -3deg;
        }
    }
}
.testimonial{
    padding: 5rem 0;

    &__item{
        background-color: v.$secondaryColor;
        color: v.$white;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }

    &__header{
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__img{
        border-radius: 100%;
        overflow: hidden;
        width: 10rem;
    }

    &__autor{
        color: v.$white;
        margin: 0 auto;
        font-weight: 700;
    }

    &__contenido{
        font-size: 2rem;
        line-height: 1.5;
        margin: 2rem 0 0 0;
        position: relative;
        padding-left: 3rem;

        &::before{
            content: '"';
            font-size: 10rem;
            position: absolute;
            top: -4rem;
            left: 0;
            opacity: .2;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        }
    }

    &__grid{
        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2rem;
        }
    }

    &__item{
        @include m.tablet {
            &:first-child{
                grid-column: 1/4;
            }

            &:nth-child(2){
                grid-column: 4/5;
            }

            &:nth-child(3){
                grid-column: 5/6;
                grid-row: 1/3;
            }

            &:nth-child(4){
                grid-column: 1/3;
                grid-row: 2/3;
            }

            &:last-child{
                grid-column: 3/5;
                grid-row: 2/3;
            }
        }
    }
}


.favorites{
    background-color: v.$lightGrey;
    padding: 5rem 0;

    &__title{
        color: v.$secondaryColor;
    }

    &__grid{
        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: v.$distance;
        }
    }
}

.favorite{
    background-color: v.$white;
    padding: 4rem;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 2.6rem -0.8rem #99a4a9;
    border-radius: 1rem;

    &__img{
        max-width: 20rem;
        margin: 0 auto;
    }

    &__title{
        color: v.$primaryColor;
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    &__stars{
        margin: 0 auto;
    }

    &__text{
        color: v.$secondaryColor;
        font-size: 1.6rem;
        line-height: 1.7;
        margin: 0.5rem 0;
    }

    @include m.tablet {
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: 4rem;

        &__content{
            text-align: start;
        }

        &__stars{
            margin:0;
        }
    }
}